# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build-FruitManager-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/*
build-FruitManager-Desktop_Qt_5_12_2_MinGW_64_bit-Release/*
FruitManager/FruitManager.pro.user.orig
FruitManager/FruitManager.pro.user.948afcc.4.8-pre1
FruitManager/FruitManager.pro.user
FruitManager/FruitManager.pro.user
FruitManager/FruitManager.pro.user
